<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="http://52.187.127.249/image/logo.png" />
          <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
    <title>ลงทะเบียนกิจกรรม</title>
</head>
<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>
  
<!-- navbar -->
<nav class="navbar navbar-dark bg-navbar navbar-expand-lg " id="navbar">
  <div class="container">
    <a class="navbar-brand my-auto" href="/home">
      <img
        src="/image/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-white">
        <li class="nav-item active">
          <a class="nav-link" href="/home"
            >หน้าแรก <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/CheckUser">ค้นหาบุคลากร</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link color-me" href="#">ติดต่อสอบถาม</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar -->

  
  <div style="display:none;" id="loadedPage" class="animate-bottom">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="<%= data.cls %>" role="alert">
            <%= data.msg %>
          </div>
          <div class="card-header">ลงทะเบียนกิจกรรม </div>
          <div class="card-body">
            <form action="/register" method="POST">
              <div class="form-group">
                <div class="form-label-group">
                  <input 
                  minlength="10"
                  maxlength="10"
                  type="text" name="code" id="code" class="form-control" placeholder="รหัสกิจกรรม" required>
                  <label for="code">รหัสกิจกรรม</label>
                </div>
              </div>

              <button class="btn btn-success btn-block">ลงทะเบียนกิจกรรม</button>
              
            </form>
      
          </div>
        </div>
      </div>
 

      <p class="lead text-center mt-5">กลับหน้าหลัก
        <a href="/home">คลิ๊ก</a>
      </div>
</body>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

  <script>
    var myVar;
    
    function myFunction() {
      myVar = setTimeout(showPage, 100);
    }
    
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("loadedPage").style.display = "block";
    }
    </script>
</html>