<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>
  <body id="page-top loadedPage"   onload="myFunction()">
    <div id="loader"></div>
    <div style="display:none;" id="loadedPage" class="animate-bottom">
      <div class="bg">
      <img class="img-sponser" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" alt="">
      <img class="img-sponser" src="https://i.pinimg.com/originals/a7/2b/b5/a72bb5bf31303bd5f2fcf20c95603150.png" alt="">
      <div class="img-center">
        <img class="responsive" src="/image/logo.png" alt="logo" />
        <h1 class="text-main">ระบบลงทะเบียนกิจกรรม สมาคมกู้ภัยลำปาง</h1>
    
        <button onclick="window.location.href='/login'" class="btn-register">ลงทะเบียน</button>
      </div>
    
    <!-- <footer>
        <a href="#">Powered by Marutthep Rompho  Software Engineer LPRU</a>
    </footer> -->
</div>
</div>
  </body>
  
<script>
  var myVar;
  
  function myFunction() {
    myVar = setTimeout(showPage, 100);
  }
  
  function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("loadedPage").style.display = "block";
  }
  </script>
</html>
