@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');

body,
html {
  font-family: 'Prompt', sans-serif;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-size: 15px;

  /* margin: auto; */
}

.wrapper {
  display: block;
  /* min-height: 100%;  */
  height: auto !important; 
  height: 100%;
  /* margin-bottom: -20px;  */
}

.footer {
  height: 20px;
  display: block;
  text-align: center;
  background-color:#F5F5F5;
}

.bg {
    background-image: url("https://images.unsplash.com/photo-1575525351624-d5cbc45a82a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=955&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
  }

  .deleteIcon{
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #FFFFFF;
  }
  .editIcon{
    background-color: #ffc107;
    border-color: #ffc107;
    color: #FFFFFF;
  }
  
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.img-center {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.img-sponser{
    margin: 3rem 2rem 0 0;
    width: 5rem;
    float: right;

}



@media screen and (max-width: 500px) and (min-width: 320px){
    .img-sponser {
        width: 25%;
        max-width: 15%;
        margin: 3rem 1rem 0 0;
    }
    .responsive {
        width: 100%;
        max-width: 250px;
        height: auto;
        display: block;
        margin: 0 auto;
      }
      .footer {
        height: 50px;
        display: block;
        text-align: center;
        background-color:#F5F5F5;
      }

}

.margin-20{
  margin-top: 4.5rem;
}

#navbar {
  padding: 16px;
  transition: 0.5s;
}

.bg-navbar{
  background-color: #212529d1;
}

.btn-register {
  background-color: #002e5d;
  font-size: 25px;
  color: white;
  padding: 0.5rem 5rem 0.5rem 5rem;
  border-radius: 5rem;
  font-family: "Kanit", sans-serif;
  margin: 0 auto;
  display: block;
}

.text-main {
  text-align: center;
  font-size: 30px;
  color: #002E5D;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

footer {
    font-size: 14px;
    margin-top: 76px;
    position: absolute;
    bottom: 0px;
    color: black;
    background: #ffffff;
    width: 100%;
    text-align: right;
}

a{
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    /* color: #ff0000; */
}
.breadcrumb-item{
  font-size: 14px;
}


.F14{
  font-size: 14px;
}

.bg-blue1 {
  background-color: #e3f2fd;
}

#text-box-sha {
  border: 1px solid darkgray;
  padding: 10px;
  box-shadow: 0px 10px 10px grey;
  margin-top: 2rem;
}

.bg-red{
  background-color: #ff6c60;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -10px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 0.8s
}

@-webkit-keyframes animatebottom {
  from { bottom:-35px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
/* เดิมๆ -100px = มาจากด้านล่าง  */

@keyframes animatebottom { 
  from{ bottom:-35px; opacity:0 }  
  to{ bottom:0; opacity:1 }
}

#loadedPage {
  display: none;
}