<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Data Table Example
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>วันที่</th>
              <th>รหัส</th>
              <th>รายการ</th>
              <th>คนเข้าร่วม</th>
              <th>สถานะ</th>
              <th>ตัวเลือก</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>รหัส</th>
              <th>ชื่อ-นามสกุล</th>
              <th>พื้นที่ดูแล</th>
              <th>คะนนกิจกรรม</th>
              <th>สถานะ</th>
              <th>ตัวเลือก</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>20/12/2019</td>
              <td>A2ae7158W1</td>
              <td>อบรบการเอาชีวิตรอด</td>
              <td>1078</td>
              <td>ดำเนินการ</td>
              <td>
                  <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
                  <button class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
            <tr>
                <td>21/12/2019</td>
                <td>A2ae7158W1</td>
                <td>อบรบการเอาชีวิตรอด</td>
                <td>25</td>
                <td>หมดเวลา</td>
                <td>
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
                    <button class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <td>25/12/2019</td>
                <td>A2ae7158W1</td>
                <td>อบรบการเอาชีวิตรอด</td>
                <td>10</td>
                <td>หมดเวลา</td>
                <td>
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
                    <button class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

</div>