<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
    <title>เปลี่ยนรหัสผ่าน</title>
</head>
<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>

<!-- navbar -->
<nav class="navbar navbar-dark bg-navbar navbar-expand-lg " id="navbar">
  <div class="container">
    <a class="navbar-brand my-auto" href="/home">
      <img
        src="/image/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-white">
        <li class="nav-item active">
          <a class="nav-link" href="/home"
            >หน้าแรก <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/CheckUser">ค้นหาบุคลากร</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link color-me" href="#">ติดต่อสอบถาม</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar -->

  <div style="display:none;" id="loadedPage" class="animate-bottom">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="<%= data.cls %>" role="alert">
            <%= data.msg %>
          </div>
          <div class="card-header">เปลี่ยนรหัสผ่าน </div>
          <div class="card-body">
            <form action="/changePassword" method="POST">
                <div class="form-group">
                    <div class="form-label-group">
                      <input type="password" name="pass" id="pass" class="form-control" placeholder="รหัสผ่านเดิม" required="required">
                      <label for="pass">รหัสผ่านเดิม</label>
                    </div>
                  </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="password" name="newPass" id="newPass" class="form-control" placeholder="รหัสผ่านใหม่" required="required">
                  <label for="newPass">รหัสผ่านใหม่</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="password" name="newPass2" id="newPass2" class="form-control" placeholder="ยืนยันรหัสผ่านใหม่" required="required">
                  <label for="newPass2">ยืนยันรหัสผ่านใหม่</label>
                </div>
              </div>
              <button class="btn btn-primary btn-sm btn-block">เปลี่ยนรหัสผ่าน</button>
            </form>
      
          </div>
        </div>
      </div>
 

      <p class="lead text-center mt-5">กลับหน้าหลัก
        <a href="/home">คลิ๊ก</a>
      </div>
</body>
<%- include('../../component/admin/scriptJs')%>
</html>