<nav class="navbar navbar-dark bg-navbar navbar-expand-lg fixed-top" id="navbar">
    <div class="container">
      <a class="navbar-brand my-auto" href="#">
        <img
          src="https://image.flaticon.com/icons/png/512/24/24193.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-white">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >หน้าแรก <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">บทความ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ค้นหาบุคลากร</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link color-me" href="#">ติดต่อสอบถาม</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
