<div class="bg-light pt-3 mb-2 p-2">
    <img
      width="150"
      height="200"
      class="rounded-circle"
      src="/uploads/<%= data.image %>"
      alt=""
    />
    <p class="mt-2">คุณ: <%= data.name%></p>
    <p style="line-height: 10px">รหัส: <%= data.code%></p>
  </div>

  <button 
  onclick="javascript:window.location.href='/register'"
  class="btn btn-warning btn-block text-white pt-3 pb-3 text-center">
    <i class="my-auto far fa-registered"></i>
    ลงทะเบียนกิจกรรม
  </button>
  <button 
  onclick="javascript:window.location.href='/history'"
  class="btn btn-info btn-block text-white pt-3 pb-3 text-center"
  >
  <i class="fas fa-history"></i>
    ประวัติเข้าร่วมกิจกรรม
  </button>
  <button 
  onclick="javascript:window.location.href='/CheckUser'"
  class="btn btn-info btn-block text-white pt-3 pb-3 text-center"
  >
  <i class="fas fa-search"></i>
    ค้นหาบุคลากร
  </button>
  <a
  class="btn btn-danger btn-block text-white pt-3 pb-3 text-center"
  data-toggle="modal" data-target="#logoutModal"  class="text-danger nav-link" href="#">
  <i class="fas fa-sign-out-alt"></i>
    ออกจากระบบ</a
    >


         <!-- Logout Modal-->
         <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ต้องการออกจากระบบ ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                <a class="btn btn-danger" href="/logout">ออกจากระบบ</a>
              </div>
            </div>
          </div>
        </div>