<div class="bg-light pt-5 mb-2 p-2">
    <img
      width="150"
      height="150"
      class="rounded-circle"
      src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.0-9/p960x960/62191430_10216624784064469_6780465909577285632_o.jpg?_nc_cat=110&_nc_ohc=RkdquuvlviwAQk__Q293zrCydQs4kdiogQeRSp_0DSmEXMFUHQ9j4sIzA&_nc_ht=scontent.fbkk12-4.fna&oh=9fd52c356e7567f3e556d4e13c56ca73&oe=5E69E26D"
      alt=""
    />
    <p class="mt-2"><%= data.name%></p>
    <p style="line-height: 10px">No.50104182</p>
    <button class="btn btn-sm btn-secondary btn-block">
      แก้ไขประวัติส่วนตัว
    </button>
  </div>

  <button class="btn btn-warning btn-block text-white pt-3 pb-3 text-center">
    <i class="my-auto far fa-registered"></i>
    ลงทะเบียนกิจกรรม
  </button>
  <button 
  onclick="javascript:window.location.href='/test'"
  class="btn btn-secondary btn-block text-white pt-3 pb-3 text-center"
  >
  <i class="fas fa-history"></i>
    ประวัติเข้าร่วมกิจกรรม
  </button>
  <button
    onclick="javascript:window.location.href='/logout'"
    class="btn btn-danger btn-block text-white pt-3 pb-3 text-center"
  >
  <i class="fas fa-sign-out-alt"></i>
    ออกจากระบบ
  </button>