<div class="bg-light pt-5 mb-2 p-2">
    <img
      width="150"
      height="150"
      class="rounded-circle"
      src="/uploads/<%= data.image %>"
      alt=""
    />
    <p class="mt-2"><%= data.name%></p>
    <p style="line-height: 10px">No.50104182</p>
    <button class="btn btn-sm btn-secondary btn-block">
      แก้ไขประวัติส่วนตัว
    </button>
  </div>

  <button 
  onclick="javascript:window.location.href='/register'"
  class="btn btn-warning btn-block text-white pt-3 pb-3 text-center">
    <i class="my-auto far fa-registered"></i>
    ลงทะเบียนกิจกรรม
  </button>
  <button 
  onclick="javascript:window.location.href='/test'"
  class="btn btn-secondary btn-block text-white pt-3 pb-3 text-center"
  >
  <i class="fas fa-history"></i>
    ประวัติเข้าร่วมกิจกรรม
  </button>
  <button
    onclick="javascript:window.location.href='/logout'"
    class="btn btn-danger btn-block text-white pt-3 pb-3 text-center"
  >
  <i class="fas fa-sign-out-alt"></i>
    ออกจากระบบ
  </button>