<p class="text-left">
  บุคลากรที่มีชั่วโมงกิจกรรมสะสมมากที่สุด Top 10
</p>
<table class="table table-bordered">
  <thead class="">
    <tr>
      <th scope="col">อับดับ</th>
      <th scope="col">รหัส</th>
      <th scope="col">ชื่อ - สกุล</th>
      <th scope="col">คะแนน</th>
    </tr>
  </thead>
  <tbody>
    <% listTopTen.map((value,index) => {   %>
    <tr>
      <td><%= index +1%></td>
      <td><%= value.userPosition %></td>
      <td><%= value.userFname + ' ' + value.userLname%></td>
      <td><%= value.userAllScore %></td>
    </tr>
    <%})%>
  </tbody>
</table>
