<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/main">สมาคมกู้ภัยจังหวัดลำปาง</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>


    <!-- Navbar -->

  </nav>





  <div id="wrapper">

<!-- toggled -->
<ul class="sidebar  navbar-nav">
  <li class="F14 nav-item active ">
    <a class="nav-link" href="/main">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      แผงควบคุม
    </a>
  </li>
  <li class="nav-item ">
      <a class="nav-link F14" href="/ManagerUser">
        <i class="fas fa-users"></i>
        จัดการบุคลากร</a>
    </li>
  <li class="F14 nav-item ">
    <a class="nav-link" href="/ManagerActivity">
      <i class="fas fa-fw fa-chart-area"></i>
      จัดการงานกิจกรรม</a>
  </li>
  <li class="F14 nav-item ">
    <a class="nav-link" href="/ManagerResource">
      <i class="fas fa-box-open"></i>
      จัดการทรัพยากร</a>
  </li>
  <li class="F14 nav-item ">
    <a data-toggle="modal" data-target="#logoutModal"  class="text-danger nav-link" href="/ManagerResource">
      <i class="text-danger fas fa-sign-out-alt"></i>
      ออกจากระบบ</a>
  </li>
</ul>
     <!-- Logout Modal-->
     <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ต้องการออกจากระบบ ?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
            <a class="btn btn-danger" href="/logout">ออกจากระบบ</a>
          </div>
        </div>
      </div>
    </div>

    <div id="content-wrapper">

      <div class="container-fluid">

             <!-- Breadcrumbs-->
             <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/main">แผงควบคุม</a>
              </li>
              <li class="breadcrumb-item active">ภาพรวม</li>
            </ol>


            <div class="row">
              <div class="col-xl-3 col-sm-6 mb-3">
    
                <div class="card mb-3 o-hidden" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 text-center pt-4 p-3" style="background: #6ccac9;color: white;">
                      <i style="font-size: 60px;" class="fas fa-user"></i>
                    </div>
                    <div class="col-md-8 text-center" > 
                      <div class="card-body">
                        <h5 style="font-size: 30px;" class="card-title">5555</h5>
                        <p class="card-text">บุคลากร</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card mb-3 o-hidden" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 text-center pt-4 p-3" style="background: #f8d347;color: white;">
                      <i style="font-size: 60px;" class="fas fa-indent"></i>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="card-body">
                        <h5 style="font-size: 30px;" class="card-title">1234</h5>
                        <p class="card-text">กิจกรรม</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card mb-3 o-hidden" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 text-center pt-4 pb-3" style="background: #57c8f2;color: white;">
                      <i style="font-size: 60px;" class="fas fa-box-open"></i>
                    </div>
                    <div class="col-md-8 text-center">
                      <div class="card-body">
                        <h5 style="font-size: 30px;" class="card-title"> 7891</h5>
                        <p class="card-text">ทรัพยากร</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
        <!-- Area Chart Example-->
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
<h1>dasdad</h1>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-bar-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
