<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>SB Admin - Charts</title>

    <style>
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

/* 
      .fade-out {
        animation: fadeOut 1s;
      }
      @keyframes fadeOut {
        100% {
        opacity: 0;
        visibility: hidden;
    }
      } */
    </style>
  </head>

  <body>


    <div class="loader">
      <img
        src="https://pixelpapa.com/wp-content/uploads/2018/11/32.gif"
        alt="Loading..."
      />
    </div>
    <h2 id="title">Custom Loader - dcode</h2>
    <img
      src="https://i.pinimg.com/originals/0e/dc/ed/0edced50c651e9380b43d1336aff2a05.jpg"
      class="thumb"
    />
    <img
      src="https://i.pinimg.com/originals/0e/dc/ed/0edced50c651e9380b43d1336aff2a05.jpg"
      class="thumb"
    />
    <img
      src="https://i.pinimg.com/originals/0e/dc/ed/0edced50c651e9380b43d1336aff2a05.jpg"
      class="thumb"
    />

    <script>
      window.addEventListener("load", function() {
        const loader = document.querySelector(".loader");
        setTimeout(() => {
            loader.className += " hidden"; // class "loader hidden"
        }, 1000)
        
          

      });
    </script>
  </body>
</html>
